name: 'Unit'

on:
  push:
    branches:
      - 'main'
  pull_request:
  workflow_dispatch:

concurrency:
  group: '${{ github.workflow }}-${{ github.head_ref || github.ref }}'
  cancel-in-progress: true

permissions:
  contents: 'read'

defaults:
  run:
    shell: 'bash'

jobs:
  unit:
    strategy:
      fail-fast: false
      matrix:
        os: ${{ github.actor == 'dependabot[bot]' && fromJSON('["ubuntu-latest"]') || fromJSON('["ubuntu-latest", "macos-latest", "windows-latest"]') }}
    runs-on: '${{ matrix.os }}'

    steps:
      - uses: 'actions/checkout@v6'

      - uses: 'actions/setup-node@v6'
        with:
          node-version-file: 'package.json'

      - name: 'npm build'
        run: 'npm ci && npm run build'

      - name: 'npm test'
        run: 'npm run test'
